<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Yuping Ke</h1>
            <hr>
            <p>Hi, I'm a sound designer with a background in games, film, and music. Proficient in Wwise, Unity, Unreal Engine, and major DAWs, I focus on shaping experiences and narratives through sound—whether it's crafting immersive soundscapes or designing impactful SFX.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
