<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- 作品 1 -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=ZVngAFDvKHk" class="portfolio-box">
                    <img src="https://img.youtube.com/vi/ZVngAFDvKHk/hqdefault.jpg" class="img-responsive" alt="Interactive-Sound-Environment">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="Game Audio">
                                Category 1
                            </div>
                            <div class="Sun-Temple-Walkthrough">
                                Project Name 1
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- 作品 2 -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=RyW4tUwDNmA" class="portfolio-box">
                    <img src="https://img.youtube.com/vi/RyW4tUwDNmA/hqdefault.jpg" class="img-responsive" alt="Sound-and-Wwise-Redesign">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="Game Audio">
                                Category 2
                            </div>
                            <div class="Cyberpunk-2077_Game-Audio-Design">
                                Project Name 2
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- 作品 3 -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=zAsM2ENTUvg" class="portfolio-box">
                    <img src="https://img.youtube.com/vi/zAsM2ENTUvg/hqdefault.jpg" class="img-responsive" alt="Sound-Redesign">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="Soundtrack">
                                Category 3
                            </div>
                            <div class="Backrooms_Soundtrack-Remake">
                                Project Name 3
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- 作品 4 -->
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=ThWaAi7l0H8" class="portfolio-box">
                    <img src="https://img.youtube.com/vi/ThWaAi7l0H8/hqdefault.jpg" class="img-responsive" alt="Interactive-Audio-Visual-Installation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="Installation">
                                Category 4
                            </div>
                            <div class="Cocoon_DemoVideo">
                                Project Name 4
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
